<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product Manufacturer="March Hare Software" Id="????????-????-????-????-????????????" Language="1033" Name="CVS Suite" Version="$(var.CVSNT_VERSION)" UpgradeCode="294DEDA4-ECF0-4a21-8567-38A8B6A7E20D">
    <Package Id="????????-????-????-????-????????????" Keywords="CVS,CVSNT,Installer,Version Control,VSS" Description="CVS Suite client components" Comments="This package is Copyright 2005 March Hare Software Ltd.  CVSNT Support And Training available From March Hare Software.  See http://www.march-hare.com/cvspro.  Workspace Manager and Release Manager are Copyright March Hare Software Ltd.  CVSNT, WinMerge and TortoiseCVS are licensed under the GNU General Public License." Manufacturer="March Hare Software" InstallerVersion="200" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
    <Upgrade Id="294DEDA4-ECF0-4a21-8567-38A8B6A7E20D">
      <UpgradeVersion MigrateFeatures="yes" Maximum="$(var.CVSNT_VERSION)" IncludeMaximum="yes" />
    </Upgrade>

    <Media Id="1" EmbedCab="yes" CompressionLevel="high" Cabinet="cvsnt.cab" />
    <Media Id="2" EmbedCab="yes" CompressionLevel="high" Cabinet="wincvs.cab" />
    <Media Id="3" EmbedCab="yes" CompressionLevel="high" Cabinet="winmerge.cab" />
    <Media Id="4" EmbedCab="yes" CompressionLevel="high" Cabinet="tortoise.cab" />
    <Media Id="5" EmbedCab="yes" CompressionLevel="high" Cabinet="marchhar.cab" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder" />
      <Directory Id="System64Folder" />
      <Directory Id="WindowsFolder" />
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MH" Name="CVSSUI~1" LongName="CVS Suite">
          <Directory Id="CvsntDir" Name="CVSNT">
  	    <Directory Id="CVSNT_INSTALLDIR" />
          </Directory>
          <Directory Id="WinCvsDir" Name="WinCvs">
	    <Directory Id="WINCVS_INSTALLDIR" />
	  </Directory>
          <Directory Id="WinMergeDir" Name="WinMerge">
    	    <Directory Id="WINMERGE_INSTALLDIR" />
          </Directory>
          <Directory Id="TortoiseDir" Name="TORTOI~1" LongName="TortoiseCVS">
  	    <Directory Id="TORTOISECVS_INSTALLDIR" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="ProgramMenuFolder">
      <Directory Id="CvsntStartMenuFolder" Name="CVSSUITE" LongName="CVS Suite">
	<Directory Id="CvsntDocumentationFolder" Name="DOCUME~1" LongName="Documentation" />
      </Directory>
    </DirectoryRef>

    <FragmentRef Id="cvsnt" />  
    <FragmentRef Id="releasemanager" />  
    <FragmentRef Id="workspacemanager" />  
    <FragmentRef Id="wincvs" />
    <FragmentRef Id="winmerge" />
    <FragmentRef Id="tortoisecvs" />
    <FragmentRef Id="ebook" />
    <FragmentRef Id="scci" />

    <FragmentRef Id="standard-ui" />

    <AdminExecuteSequence />
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
      <ScheduleReboot After="RemoveExistingProducts">&amp;TortoiseCvs=3 Or IsScheduleReboot=1 Or ProductScheduleReboot=1</ScheduleReboot>
    </InstallExecuteSequence>

    <Property Id="SERVER">0</Property>
    <Property Id="WINCVS">1</Property>
    <Property Id="WINMERGE">1</Property>
    <Property Id="TORTOISECVS">1</Property>
    <Property Id="RELEASEMANAGER">1</Property>
    <Property Id="ARPHELPLINK">http://www.march-hare.com/cvspro</Property>
    <Binary Id="dlgbmp" src="Binary\dlgbmp-suite.bmp" />
       
  </Product>
</Wix>
