<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Fragment Id="winmerge">

      <DirectoryRef Id="CvsntStartMenuFolder">
        <Directory Id="WinMergeStartMenuFolder" Name="WinMerge" />
        </DirectoryRef>
	    <DirectoryRef Id="WINMERGE_INSTALLDIR" src="$(var.WINMERGE_BASE)\">
	      <Component Id="MSSystemDlls40" Guid="67E85526-D581-43a8-8905-E2DABDAC30EE" DiskId="1">
		<File Id="msvcrt.dll" Name="msvcrt.dll" src="$(var.CVSNT_BASE)\sysfiles\msvcrt.dll" />
		<File Id="mfc42u.dll" Name="mfc42u.dll" src="$(var.CVSNT_BASE)\sysfiles\mfc42u.dll" />
	      </Component>
	      <Directory Id="WinMergeStuff" Name=".">
                <Component Id="WinMergeFiles" Guid="4B2F32FE-CBC7-43d6-8EE0-47558683A4E6" DiskId="3">	
	          <File Id="WinMerge.exe" Name="WinMerge.exe" />
	          <File Id="WinMerge.man" Name="WinMerge.man" LongName="WinMerge.exe.manifest" />
	          <File Id="WinMergeU.exe" Name="WINMER~1.EXE" LongName="WinMergeU.exe">
	      	    <Shortcut Id="WinMergeU.exe" Name="WinMerge.lnk" LongName="WinMerge.lnk" Advertise="no" Directory="WinMergeStartMenuFolder" />
		  </File>
	          <File Id="WinMergeU.man" Name="WINMER~1.MAN" LongName="WinMergeU.exe.manifest" />
	          <File Id="register.bat" Name="register.bat"/>
	          <File Id="unregist.bat" Name="UNREGI~1.BAT" LongName="unregister.bat"/>
	          <File Id="Contributors.txt" Name="CONTRI~1.TXT" LongName="contributors.txt"/>
	          <File Id="ReadMe.txt" Name="ReadMe.txt" />
	          <File Id="Files.txt" Name="Files.txt" />
	        </Component>
	        <Component Id="WinMergeRegistry" Guid="C061B398-2DCE-4791-A564-14611F913936" DiskId="3">
		  <Registry Root="HKCU" Key="Software\Thingamahoochie\WinMerge\Settings" Type="integer" Name="UnpackerMode" Value="1" />
                </Component>
		<Directory Id="WinMergeLangs" Name="LANGUA~1" LongName="Languages">
	          <Component Id="WinMergeLangs" Guid="5DEEBD4F-EE34-4ec6-ADFA-8D6C49BDC237" DiskId="3">
		    <File Id="MergeBrazilian.lang" Name="MERGEB~1.LAN" LongName="MergeBrazilian.lang" />
		    <File Id="MergeBulgarian.lang" Name="MERGEB~2.LAN" LongName="MergeBulgarian.lang" />
		    <File Id="MergeCatalan.lang" Name="MERGEC~1.LAN" LongName="MergeCatalan.lang" />
		    <File Id="MergeChineseSimplified.lang" Name="MERGEC~2.LAN" LongName="MergeChineseSimplified.lang" />		  <File Id="MergeChineseTraditional.lang" Name="MERGEC~3.LAN" />
		    <File Id="MergeCzech.lang" Name="MERGEC~4.LAN" LongName="MergeCzech.lang" />
		    <File Id="MergeDanish.lang" Name="MERGED~1.LAN" LongName="MergeDanish.lang" />
		    <File Id="MergeDutch.lang" Name="MERGED~2.LAN" LongName="MergeDutch.lang" />
		    <File Id="MergeFrench.lang" Name="MERGEF~1.LAN" LongName="MergeFrench.lang" />
		    <File Id="MergeGerman.lang" Name="MERGEG~1.LAN" LongName="MergeGerman.lang" />
		    <File Id="MergeHungarian.lang" Name="MERGEH~1.LAN" LongName="MergeHungarian.lang" />
		    <File Id="MergeItalian.lang" Name="MERGEI~1.LAN" LongName="MergeItalian.lang" />
		    <File Id="MergeJapanese.lang" Name="MERGEJ~1.LAN" LongName="MergeJapanese.lang" />
		    <File Id="MergeKorean.lang" Name="MERGEK~1.LAN" LongName="MergeKorean.lang" />
		    <File Id="MergeNorwegian.lang" Name="MERGEN~1.LAN" LongName="MergeNorwegian.lang" />
		    <File Id="MergePolish.lang" Name="MERGEP~1.LAN" LongName="MergePolish.lang" />
		    <File Id="MergeRussian.lang" Name="MERGER~1.LAN" LongName="MergeRussian.lang" />
		    <File Id="MergeSlovak.lang" Name="MERGES~1.LAN" LongName="MergeSlovak.lang" />
		    <File Id="MergeSpanish.lang" Name="MERGES~2.LAN" LongName="MergeSpanish.lang" />
		    <File Id="MergeSwedish.lang" Name="MERGES~3.LAN" LongName="MergeSwedish.lang" />
		    <File Id="MergeTurkish.lang" Name="MERGET~1.LAN" LongName="MergeTurkish.lang" />
		  </Component>
		</Directory>
	        <Directory Id="WinMergeFilters" Name="Filters">
	          <Component Id="WinMergeFilters" Guid="2B0BD40E-9BD9-49c5-840C-062FB22851D8" DiskId="3">
	            <File Id="ADAMulti.flt" Name="ADAMulti.flt" />
	            <File Id="FileFilt.tmp" Name="FILEFI~1.TMP" LongName="FileFilter.tmpl" />
	            <File Id="MASM.flt" Name="MASM.flt" />
	            <File Id="Merge_GnuC_loose.flt" Name="MERGE_~1.FLT" LongName="Merge_GnuC_loose.flt" />
	            <File Id="Merge_VB_loose.flt" Name="MERGE_~2.FLT" LongName="Merge_VB_loose.flt" />
	            <File Id="Merge_VC_loose.flt" Name="MERGE_~3.FLT" LongName="Merge_VC_loose.flt" />
	            <File Id="XML_html.flt" Name="XML_HT~1.FLT" LongName="XML_html.flt" />
	          </Component>
	        </Directory>
	        <Directory Id="WinMergePlugins" Name="MERGEP~1" LongName="MergePlugins">
	          <Component Id="WinMergePlugins" Guid="66CB8AFE-9DBB-4c67-9E9E-796FF924091D" DiskId="3">
	            <File Id="CompareMSExcelFiles.dll" Name="COMPAR~1.DLL" LongName="CompareMSExcelFiles.dll" />
	            <File Id="CompareMSWordFiles.dll" Name="COMPAR~2.DLL" LongName="CompareMSWordFiles.dll" />
	            <File Id="CompareMSPowerpointFiles.dll" Name="COMPAR~3.DLL" LongName="CompareMSPowerpointFiles.dll" />
	            <File Id="DisplayBinaryFiles.dll" Name="DISPLA~1.DLL" LongName="DisplayBinaryFiles.dll" />
	            <File Id="DisplayXMLFiles.dll" Name="DISPLA~2.DLL" LongName="DisplayXMLFiles.dll" />
<!--	            <File Id="editor_addin.sct" Name="EDITOR~1.SCT" LongName="editor addin.sct" /> -->
	            <File Id="IgnoreColumns.dll" Name="IGNORE~1.DLL" LongName="IgnoreColumns.dll" />
	            <File Id="IgnoreCommentsC.dll" Name="IGNORE~4.DLL" LongName="IgnoreCommentsC.dll" />
	            <File Id="IgnoreFieldsComma.dll" Name="IGNORE~2.DLL" LongName="IgnoreFieldsComma.dll" />
	            <File Id="IgnoreFieldsTab.dll" Name="IGNORE~3.DLL" LongName="IgnoreFieldsTab.dll" />
<!--	            <File Id="insert_datetime.sct" Name="INSERT~1.SCT" LongName="insert datetime.sct" /> -->
	            <File Id="list.txt" Name="list.txt" />
	            <File Id="Plugins.txt" Name="Plugins.txt" />
	            <File Id="readme_users.txt" Name="README~1.TXT" LongName="readme_users.txt" />
	            <File Id="UnpackDFM.dll" Name="UNPACK~1.DLL" LongName="UnpackDFM.dll" />
	          </Component>
	        </Directory>
	        <Component Id="WinMergeShellA" Guid="A42696CE-6AFB-417f-905C-1A1A0F3EBD47" DiskId="3">
	          <File Id="ShellExtension_Ansi.dll" Name="SHELLE~1.DLL" LongName="ShellExtension.dll" />
	        </Component>
	        <Component Id="WinMergeShellU" Guid="EDE60825-E005-43ff-AF57-BB8297AA7B28" DiskId="3">
	          <File Id="ShellExtension_Unicode.dll" Name="SHELLE~2.DLL" LongName="ShellExtensionU.dll" SelfRegCost="1" />
	        </Component>
                <Component Id="WinMergeStartMenuDoc" Guid="2281DBFD-C88C-42df-AA3B-07643DD5E1F5" DiskId="3">
		  <RemoveFile Id="wmstartmenu" Directory="WinMergeStartMenuFolder" On="uninstall" />
		  <File Id="winmerge.url" Name="winmerge.url" src="./winmerge.url">
    	              <Shortcut Id="winmerge.url" Advertise="no" Name="WINMER~1.URL" LongName="WinMerge on the web.url" Directory="WinMergeStartMenuFolder" />
		  </File>
	        </Component>
	      </Directory>
         </DirectoryRef>
      
    <Feature Id="WinMerge" Title="WinMerge" Description="WinMerge allows interactive resolution of file conflicts" Display="expand" AllowAdvertise="no" Level="3" ConfigurableDirectory="WINMERGE_INSTALLDIR">
      <Condition Level="0">WINMERGE=0</Condition>
      <ComponentRef Id="WinMergeStartMenuDoc" />
      <ComponentRef Id="WinMergeFiles" />
      <ComponentRef Id="WinMergeRegistry" />
      <ComponentRef Id="WinMergeLangs" />
      <ComponentRef Id="WinMergeFilters" />
      <ComponentRef Id="WinMergePlugins" />
      <ComponentRef Id="WinMergeShellA" />
      <ComponentRef Id="WinMergeShellU" />
      <ComponentRef Id="MSSystemDlls40" />
    </Feature>
  </Fragment>
</Wix>

